/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	
	.bold	{	font-weight:700}
	
/*	h1, h2, h3, h4, h5, h6 {
		color: #000;
		 font-family: 'PT Sans Narrow', sans-serif, Helvetica, Arial, sans-serif;
		font-weight: normal;
		
	}
*/	
	
	
/*	.titledivider	{	color: #666;  font-family: 'PT Sans Narrow', sans-serif, Helvetica, Arial, sans-serif;		font-weight: normal; font-size:18px; line-height:1; padding-bottom:10px;border-bottom:1px solid #e1e1e1; width:100%}
	
	.more,a.more:visited			{	color:#1D78CB; font-family: 'PT Sans Narrow', sans-serif, Helvetica, Arial, sans-serif;		font-weight: 700; font-size:14px; line-height:1;}
*/	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
/*	h1 { font-size: 46px; line-height: 50px; margin-bottom: 10px !important;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px !important; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 10px !important; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 10px !important; }
	h5 { font-size: 17px; line-height: 24px; margin-bottom: 10px !important;}
	h6 { font-size: 14px; line-height: 21px; margin-bottom: 10px !important;}
	
  	   @media only screen and (min-width: 768px) and (max-width: 959px) {		
 		    
	   }
	  
	   @media only screen and (min-width: 480px) and (max-width: 767px) {
 		    h1 { font-size: 44px; line-height: 50px; margin-bottom: 14px;}
			h2 { font-size: 33px; line-height: 40px; margin-bottom: 10px; }
			h3 { font-size: 26px; line-height: 34px; margin-bottom: 10px; }
			h4 { font-size: 20px; line-height: 30px; margin-bottom: 10px; }
			h5 { font-size: 15px; line-height: 24px; margin-bottom: 10px !important;}
			h6 { font-size: 12px; line-height: 21px; }
			p	{	font-size:12px; margin-bottom:10px !important;}
	   }
	   
	   @media only screen and (min-width: 0px) and (max-width: 480px) {
 		    h1 { font-size: 42px; line-height: 46px; margin-bottom: 14px;}
			h2 { font-size: 31px; line-height: 36px; margin-bottom: 10px; }
			h3 { font-size: 24px; line-height: 30px; margin-bottom: 8px; }
			h4 { font-size: 18px; line-height: 27px; margin-bottom: 4px; }
			h5 { font-size: 13px; line-height: 20px; margin-bottom:10px !important;}
			h6 { font-size: 10px; line-height: 17px; }
			p	{	font-size:12px; margin-bottom:10px !important;}
	   }
*/
	.subheader { color: #777; }
/*
	p { margin: 0 0 10px 0 !important; font-family: Arial, 'PT Sans Narrow', sans-serif, Helvetica, Arial, sans-serif; font-size:12px; line-height:20px;}
*/
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
 	strong { font-weight: bold; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 5px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc, ol.number, ol.letter { margin-left: 20px; margin-bottom:20px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ol.number { list-style: decimal; }
	ol.letter { list-style: lower-alpha; }
	ul ul, ul ol,
	ol ol, ol ul { /* margin: 0px 0 5px 30px; */ /* JAS font-size: 90%; */ }
	.menu ul, .menu ul ol,
	.menu ol ol, .menu ol ul { margin: 0px 0 5px 30px; /* JAS font-size: 90%; */ }
	ul ul li, ul ol li,
	ol ol li, ol ul li { /* JAS margin-bottom: 6px; */ }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */



/* #Tabs (activate in tabs.js)
================================================== */
	


/* #Forms
================================================== */
input,textarea {outline:none;}
	

/* #Misc
================================================== */

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
	#Tablet (Portrait)
	#Mobile (Portrait)
	#Mobile (Landscape)
	#Clearing */



/* #Base 960 Grid
================================================== */

	.container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
	.column,
	.columns                                    { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
	.row                                        { margin-bottom: 0px; }

	/* Nested Column Classes */
	.column.alpha, .columns.alpha               { margin-left: 0; }
	.column.omega, .columns.omega               { margin-right: 0; }

	/* Base Grid */
	.one.column,
	.one.columns                     { width: 40px;  }
	.two.columns                     { width: 100px; }
	.three.columns                   { width: 160px; }
	.four.columns                    { width: 220px; }
	.five.columns                    { width: 280px; }
	.six.columns                     { width: 340px; }
	.seven.columns                   { width: 400px; }
	.eight.columns                   { width: 460px; }
	.nine.columns                    { width: 520px; }
	.ten.columns                     { width: 580px; }
	.eleven.columns                  { width: 640px; padding-top: 20px; /* JAS */ padding-left: 20px; margin-left: -11px !important; border-left: 1px solid #DDDDDD;}
	.twelve.columns                  { width: 700px; }
	.thirteen.columns                { width: 760px; }
	.fourteen.columns                { width: 820px; }
	.fifteen.columns                 { width: 880px; }
	.sixteen.columns                 { width: 940px; }

	.one-third.column                { width: 300px; }
	.two-thirds.column               { width: 620px; }

	/* Offsets */
	.offset-by-one                   { padding-left: 60px;  }
	.offset-by-two                   { padding-left: 120px; }
	.offset-by-three                 { padding-left: 180px; }
	.offset-by-four                  { padding-left: 240px; }
	.offset-by-five                  { padding-left: 300px; }
	.offset-by-six                   { padding-left: 360px; }
	.offset-by-seven                 { padding-left: 420px; }
	.offset-by-eight                 { padding-left: 480px; }
	.offset-by-nine                  { padding-left: 540px; }
	.offset-by-ten                   { padding-left: 600px; }
	.offset-by-eleven                { padding-left: 660px; }
	.offset-by-twelve                { padding-left: 720px; }
	.offset-by-thirteen              { padding-left: 780px; }
	.offset-by-fourteen              { padding-left: 840px; }
	.offset-by-fifteen               { padding-left: 900px; }
	
	/* JAS */
	.four.columns.sidebar            { border-right:  1px solid #DDDDDD; padding-right: 20px; padding-top: 20px; padding-bottom:20px;}
	.mobileOnly { visibility: hidden; display: none;}
	
	/*==== PDF Display ====*/
	.LetterPDF {
		width: 99%;
		height: 828px;
		border: 2px solid black;
	}



/* #Tablet (Portrait)
================================================== */

	/* Note: Design for a width of 768px */

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container                                  { width: 768px; }
		.column,
		.columns                         { margin-left: 10px; margin-right: 10px;  }
		.column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
		.column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
		.alpha.omega                                { margin-left: 0; margin-right: 0; }

		.one.column,
		.one.columns                     { width: 28px; }
		.two.columns                     { width: 76px; }
		.three.columns                   { width: 124px; }
		.four.columns                    { width: 172px; }
		.five.columns                    { width: 220px; }
		.six.columns                     { width: 268px; }
		.seven.columns                   { width: 316px; }
		.eight.columns                   { width: 364px; }
		.nine.columns                    { width: 412px; }
		.ten.columns                     { width: 460px; }
		.eleven.columns                  { width: 508px; }
		.twelve.columns                  { width: 556px; }
		.thirteen.columns                { width: 604px; }
		.fourteen.columns                { width: 652px; }
		.fifteen.columns                 { width: 700px; }
		.sixteen.columns                 { width: 748px; }

		.one-third.column                { width: 236px; }
		.two-thirds.column               { width: 492px; }

		/* Offsets */
		.offset-by-one                   { padding-left: 48px; }
		.offset-by-two                   { padding-left: 96px; }
		.offset-by-three                 { padding-left: 144px; }
		.offset-by-four                  { padding-left: 192px; }
		.offset-by-five                  { padding-left: 240px; }
		.offset-by-six                   { padding-left: 288px; }
		.offset-by-seven                 { padding-left: 336px; }
		.offset-by-eight                 { padding-left: 348px; }
		.offset-by-nine                  { padding-left: 432px; }
		.offset-by-ten                   { padding-left: 480px; }
		.offset-by-eleven                { padding-left: 528px; }
		.offset-by-twelve                { padding-left: 576px; }
		.offset-by-thirteen              { padding-left: 624px; }
		.offset-by-fourteen              { padding-left: 672px; }
		.offset-by-fifteen               { padding-left: 720px; }
		
		/*==== PDF Display ====*/
		.LetterPDF {
/* 			width: 508px; */
			height: 657px;
			}
		
	}


/*  #Mobile (Portrait)
================================================== */

	/* Note: Design for a width of 320px */

	@media only screen and (max-width: 767px) {
		.container { width: 300px; }
		.columns,
		.column { margin: 0; margin-bottom:0px;}

		.one.column,
		.one.columns,
		.two.columns,
		.three.columns,
		.four.columns,
		.five.columns,
		.six.columns,
		.seven.columns,
		.eight.columns,
		.nine.columns,
		.ten.columns,
		.eleven.columns,
		.twelve.columns,
		.thirteen.columns,
		.fourteen.columns,
		.fifteen.columns,
		.sixteen.columns,
		.one-third.column,
		.two-thirds.column  { width: 280px;}
		
		/* Offsets */
		.offset-by-one,
		.offset-by-two,
		.offset-by-three,
		.offset-by-four,
		.offset-by-five,
		.offset-by-six,
		.offset-by-seven,
		.offset-by-eight,
		.offset-by-nine,
		.offset-by-ten,
		.offset-by-eleven,
		.offset-by-twelve,
		.offset-by-thirteen,
		.offset-by-fourteen,
		.offset-by-fifteen { padding-left: 0; }
		
		/* JAS */
		.four.columns.sidebar            { border-right:  none; padding-right: 0;}
		.four.columns.sidebar            { border-right:  none; padding-right: 0; padding-bottom: 0;}
		.mobileOnly { visibility: visible; display: inherit;}
		
		/*==== PDF Display ====*/
		.LetterPDF {
/* 			width: 280px; */
			height: 420px;
			}
		
		.brochure input[type="checkbox"], .brochure input[type="radio"] { margin-left: 0px !important; }
		.exam_question { margin-right: 10px !important; }

	}


/* #Mobile (Landscape)
================================================== */

	/* Note: Design for a width of 480px */

	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container { width: 420px; }
		.columns,
		.column { margin:0px;margin-bottom:0px;}

		.one.column,
		.one.columns,
		.two.columns,
		.three.columns,
		.four.columns,
		.five.columns,
		.six.columns,
		.seven.columns,
		.eight.columns,
		.nine.columns,
		.ten.columns,
		.eleven.columns,
		.twelve.columns,
		.thirteen.columns,
		.fourteen.columns,
		.fifteen.columns,
		.sixteen.columns,
		.one-third.column,
		.two-thirds.column { width: 420px; }
		
		/* JAS */
		.eleven.columns					{ padding-left: 0; margin-left: 10px; border-left: none; }
		.four.columns.sidebar            { border-right:  none; padding-right: 0; padding-bottom: 0;}
		.mobileOnly { visibility: visible; display: inherit;}
		
		/*==== PDF Display ====*/
		.LetterPDF {
/* 			width: 420px; */
			height: 544px;
			}
	}


/* #Clearing
================================================== */

	/* Self Clearing Goodness */
	.container:after { content: "\0020"; display: block; height: 0; clear: both; /*visibility: hidden; */ }

	/* Use clearfix class on parent to clear nested columns,
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	.row:after,
	.clearfix:after {
	  clear: both; }

	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
	  clear: both;
	  display: block;
/* 	  overflow: hidden; */
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

#contact-wrap form#contact_form input[type="text"], #contact-wrap form#contact_form textarea{
		width:340px;
	}
	
.contact-wrap input[type="text"], .contact-wrap input[type="password"], .contact-wrap input[type="tel"], .contact-wrap input[type="number"], .contact-wrap input[type="email"], .contact-wrap select /*, .contact-wrap textarea */ {
		width:340px;
	}

.exam_question img.portrait	 { max-width:300px; margin: 0px auto; display: block; }
.exam_question img.landscape { max-width:600px; margin: 0px auto; display: block; }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		/* Contact Form Text Areas */
		#contact-wrap form#contact_form input[type="text"], #contact-wrap form#contact_form textarea{
			width:342px;
			clear:both;
			}
		
		.contact-wrap input[type="text"], .contact-wrap input[type="password"], .contact-wrap input[type="tel"], .contact-wrap input[type="number"], .contact-wrap input[type="email"], .contact-wrap textarea, .contact-wrap select {
			width:342px !important;
			clear:both;
			}
		
		.exam_question img.portrait	 { max-width:300px; }
		.exam_question img.landscape { max-width:535px; }
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		/* Contact Form Text Areas */
		#contact-wrap form#contact_form input[type="text"], #contact-wrap form#contact_form textarea{
			width: 278px;
			clear:both;
			}
		
		.contact-wrap input[type="text"], .contact-wrap input[type="password"], .contact-wrap input[type="tel"], .contact-wrap input[type="number"], .contact-wrap input[type="email"], .contact-wrap textarea, .contact-wrap select {
			width:278px !important;
			clear:both;
			}
		
		.exam_question {width: 280px;}
		.exam_question img.portrait	 { max-width:260px; }
		.exam_question img.landscape { max-width:260px; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		/* Contact Form Text Areas */
		#contact-wrap form#contact_form input[type="text"], #contact-wrap form#contact_form textarea{
			width: 398px;
			clear:both;
			}
		
		.contact-wrap input[type="text"], .contact-wrap input[type="password"], .contact-wrap input[type="tel"], .contact-wrap input[type="number"], .contact-wrap input[type="email"], .contact-wrap textarea, .contact-wrap select {
			width:398px !important;
			clear:both;
			}
		
		.exam_question {width: 405px;}
		.exam_question img.portrait	 { max-width:300px; }
		.exam_question img.landscape { max-width:385px; }
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { 
    margin: 0; padding: 0; border: 0; outline: 0;  vertical-align: baseline; background: transparent; 
}

ul,ol{
	list-style: none;
}


div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_rounded .pp_description{margin-right:85px;color:#fff}
div.dark_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_square .pp_nav .pp_play{background:url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{width:22px;height:22px;background:url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}
	
.mejs-container {
	position:relative;
	background:#000;
	font-family:Helvetica,Arial;
	}

.me-plugin {
	position:absolute;
	}

.mejs-embed,.mejs-embed body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:#000;
	overflow:hidden;
	}

.mejs-container-fullscreen {
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
	z-index:1000;
	}

.mejs-container-fullscreen .mejs-mediaelement,.mejs-container-fullscreen video {
	width:100%;
	height:100%;
	}

.mejs-background {
	position:absolute;
	top:0;
	left:0;
	}

.mejs-mediaelement {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}

.mejs-poster {
	position:absolute;
	top:0;
	left:0;
	}

.mejs-poster img {
	border:0;
	padding:0;
	border:0;
	display:block;
	}

.mejs-overlay {
	position:absolute;
	top:0;
	left:0;
	}

.mejs-overlay-play {
	cursor:pointer;
	}

.mejs-overlay-button {
	position:absolute;
	top:50%;
	left:50%;
	width:100px;
	height:100px;
	margin:-50px 0 0 -50px;
	background:url(../images/mediaplayer/bigplay.png) no-repeat;
	}

.mejs-overlay:hover .mejs-overlay-button {
	background-position:0 -100px;
	}

.mejs-overlay-loading {
	position:absolute;
	top:50%;
	left:50%;
	width:80px;
	height:80px;
	margin:-40px 0 0 -40px;
	background:#333;
	background:url(../images/mediaplayer/background.png);
	background:rgba(0,0,0,0.9);
	background:-webkit-gradient(linear,0% 0,0% 100%,from(rgba(50,50,50,0.9)),to(rgba(0,0,0,0.9)));
	background:-webkit-linear-gradient(top,rgba(50,50,50,0.9),rgba(0,0,0,0.9));
	background:-moz-linear-gradient(top,rgba(50,50,50,0.9),rgba(0,0,0,0.9));
	background:-o-linear-gradient(top,rgba(50,50,50,0.9),rgba(0,0,0,0.9));
	background:-ms-linear-gradient(top,rgba(50,50,50,0.9),rgba(0,0,0,0.9));
	background:linear-gradient(rgba(50,50,50,0.9),rgba(0,0,0,0.9));
	}

.mejs-overlay-loading span {
	display:block;
	width:80px;
	height:80px;
	background:transparent url(../images/mediaplayer/loading.gif) 50% 50% no-repeat;
	}

.mejs-container .mejs-controls {
	position:absolute;
	background:none;
	list-style-type:none;
	margin:0;
	padding:0;
	bottom:0;
	left:0;
	background:url(../images/mediaplayer/background.png);
	background:rgba(0,0,0,0.7);
	background:-webkit-gradient(linear,0% 0,0% 100%,from(rgba(50,50,50,0.7)),to(rgba(0,0,0,0.7)));
	background:-webkit-linear-gradient(top,rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	background:-moz-linear-gradient(top,rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	background:-o-linear-gradient(top,rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	background:-ms-linear-gradient(top,rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	background:linear-gradient(rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	height:30px;
	width:100%;
	}

.mejs-container .mejs-controls div {
	list-style-type:none;
	background-image:none;
	display:block;
	float:left;
	margin:0;
	padding:0;
	width:26px;
	height:26px;
	font-size:11px;
	line-height:11px;
	background:0;
	font-family:Helvetica,Arial;
	border:0;
	}

.mejs-controls .mejs-button button {
	cursor:pointer;
	display:block;
	font-size:0;
	line-height:0;
	text-decoration:none;
	margin:7px 5px;
	padding:0;
	position:absolute;
	height:16px;
	width:16px;
	border:0;
	background:transparent url(../images/mediaplayer/controls.png) no-repeat;
	}

.mejs-controls .mejs-button button:focus {
	outline:solid 1px yellow;
	}

.mejs-container .mejs-controls .mejs-time {
	color:#fff;
	display:block;
	height:17px;
	width:auto;
	padding:8px 3px 0 3px;
	overflow:hidden;
	text-align:center;
/* 	padding:auto 4px; */
	}

.mejs-container .mejs-controls .mejs-time span {
	font-size:11px;
	color:#fff;
	line-height:12px;
	display:block;
	float:left;
	margin:1px 2px 0 0;
	width:auto;
	}

.mejs-controls .mejs-play button {
	background-position:0 0;
	}

.mejs-controls .mejs-pause button {
	background-position:0 -16px;
	}

.mejs-controls .mejs-stop button {
	background-position:-112px 0;
	}

.mejs-controls div.mejs-time-rail {
	width:200px;
	padding-top:5px;
	}

.mejs-controls .mejs-time-rail span {
	display:block;
	position:absolute;
	width:180px;
	height:10px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	cursor:pointer;
	}

.mejs-controls .mejs-time-rail .mejs-time-total {
	margin:5px;
	background:#333;
	background:rgba(50,50,50,0.8);
	background:-webkit-gradient(linear,0% 0,0% 100%,from(rgba(30,30,30,0.8)),to(rgba(60,60,60,0.8)));
	background:-webkit-linear-gradient(top,rgba(30,30,30,0.8),rgba(60,60,60,0.8));
	background:-moz-linear-gradient(top,rgba(30,30,30,0.8),rgba(60,60,60,0.8));
	background:-o-linear-gradient(top,rgba(30,30,30,0.8),rgba(60,60,60,0.8));
	background:-ms-linear-gradient(top,rgba(30,30,30,0.8),rgba(60,60,60,0.8));
	background:linear-gradient(rgba(30,30,30,0.8),rgba(60,60,60,0.8));
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr=#1E1E1E,endColorstr=#3C3C3C)";
	}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background:#3caac8;
	background:rgba(60,170,200,0.8);
	background:-webkit-gradient(linear,0% 0,0% 100%,from(rgba(44,124,145,0.8)),to(rgba(78,183,212,0.8)));
	background:-webkit-linear-gradient(top,rgba(44,124,145,0.8),rgba(78,183,212,0.8));
	background:-moz-linear-gradient(top,rgba(44,124,145,0.8),rgba(78,183,212,0.8));
	background:-o-linear-gradient(top,rgba(44,124,145,0.8),rgba(78,183,212,0.8));
	background:-ms-linear-gradient(top,rgba(44,124,145,0.8),rgba(78,183,212,0.8));
	background:linear-gradient(rgba(44,124,145,0.8),rgba(78,183,212,0.8));
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr=#2C7C91,endColorstr=#4EB7D4)";
	width:0;
	}

.mejs-controls .mejs-time-rail .mejs-time-current {
	width:0;
	background:#fff;
	background:rgba(255,255,255,0.8);
	background:-webkit-gradient(linear,0% 0,0% 100%,from(rgba(255,255,255,0.9)),to(rgba(200,200,200,0.8)));
	background:-webkit-linear-gradient(top,rgba(255,255,255,0.9),rgba(200,200,200,0.8));
	background:-moz-linear-gradient(top,rgba(255,255,255,0.9),rgba(200,200,200,0.8));
	background:-o-linear-gradient(top,rgba(255,255,255,0.9),rgba(200,200,200,0.8));
	background:-ms-linear-gradient(top,rgba(255,255,255,0.9),rgba(200,200,200,0.8));
	background:linear-gradient(rgba(255,255,255,0.9),rgba(200,200,200,0.8));
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr=#FFFFFF,endColorstr=#C8C8C8)";
	}

.mejs-controls .mejs-time-rail .mejs-time-handle {
	display:none;
	position:absolute;
	margin:0;
	width:10px;
	background:#fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	border:solid 2px #333;
	top:-2px;
	text-align:center;
	}

.mejs-controls .mejs-time-rail .mejs-time-float {
	position:absolute;
	display:none;
	background:#eee;
	width:36px;
	height:17px;
	border:solid 1px #333;
	top:-26px;
	margin-left:-18px;
	text-align:center;
	color:#111;
	}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
	margin:2px;
	width:30px;
	display:block;
	text-align:center;
	left:0;
	}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
	position:absolute;
	display:block;
	width:0;
	height:0;
	line-height:0;
	border:solid 5px #eee;
	border-color:#eee transparent transparent transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	top:15px;
	left:13px;
	}

.mejs-controls .mejs-fullscreen-button button {
	background-position:-32px 0;
	}

.mejs-controls .mejs-unfullscreen button {
	background-position:-32px -16px;
	}

.mejs-controls .mejs-mute button {
	background-position:-16px -16px;
	}

.mejs-controls .mejs-unmute button {
	background-position:-16px 0;
	}

.mejs-controls .mejs-volume-button {
	position:relative;
	}

.mejs-controls .mejs-volume-button .mejs-volume-slider {
	display:none;
	height:115px;
	width:25px;
	background:url(../images/mediaplayer/background.png);
	background:rgba(50,50,50,0.7);
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	top:-115px;
	left:0;
	z-index:1;
	position:absolute;
	margin:0;
	}

.mejs-controls .mejs-volume-button:hover {
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
	position:absolute;
	left:11px;
	top:8px;
	width:2px;
	height:100px;
	background:#ddd;
	background:rgba(255,255,255,0.5);
	margin:0;
	}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
	position:absolute;
	left:11px;
	top:8px;
	width:2px;
	height:100px;
	background:#ddd;
	background:rgba(255,255,255,0.9);
	margin:0;
	}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
	position:absolute;
	left:4px;
	top:-3px;
	width:16px;
	height:6px;
	background:#ddd;
	background:rgba(255,255,255,0.9);
	cursor:N-resize;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	margin:0;
	}

.mejs-controls .mejs-captions-button {
	position:relative;
	}

.mejs-controls .mejs-captions-button button {
	background-position:-48px 0;
	}

.mejs-controls .mejs-captions-button .mejs-captions-selector {
	visibility:hidden;
	position:absolute;
	bottom:26px;
	right:-10px;
	width:130px;
	height:100px;
	background:url(../images/mediaplayer/background.png);
	background:rgba(50,50,50,0.7);
	border:solid 1px transparent;
	padding:10px;
	overflow:hidden;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul {
	margin:0;
	padding:0;
	display:block;
	list-style-type:none!important;
	overflow:hidden;
	}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li {
	margin:0 0 6px 0;
	padding:0;
	list-style-type:none!important;
	display:block;
	color:#fff;
	overflow:hidden;
	}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input {
	clear:both;
	float:left;
	margin:3px 3px 0 5px;
	}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label {
	width:100px;
	float:left;
	padding:4px 0 0 0;
	line-height:15px;
	font-family:helvetica,arial;
	font-size:10px;
	}

.mejs-controls .mejs-captions-button .mejs-captions-translations {
	font-size:10px;
	margin:0 0 5px 0;
	}

.mejs-chapters {
	position:absolute;
	top:0;
	left:0;
	-xborder-right:solid 1px #fff;
	width:10000px;
	}

.mejs-chapters .mejs-chapter {
	position:absolute;
	float:left;
	background:#222;
	background:rgba(0,0,0,0.7);
	background:-webkit-gradient(linear,0% 0,0% 100%,from(rgba(50,50,50,0.7)),to(rgba(0,0,0,0.7)));
	background:-webkit-linear-gradient(top,rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	background:-moz-linear-gradient(top,rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	background:-o-linear-gradient(top,rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	background:-ms-linear-gradient(top,rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	background:linear-gradient(rgba(50,50,50,0.7),rgba(0,0,0,0.7));
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr=#323232,endColorstr=#000000)";
	overflow:hidden;
	border:0;
	}

.mejs-chapters .mejs-chapter .mejs-chapter-block {
	font-size:11px;
	color:#fff;
	padding:5px;
	display:block;
	border-right:solid 1px #333;
	border-bottom:solid 1px #333;
	cursor:pointer;
	}

.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
	border-right:none;
	}

.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
	background:#666;
	background:rgba(102,102,102,0.7);
	background:-webkit-gradient(linear,0% 0,0% 100%,from(rgba(102,102,102,0.7)),to(rgba(50,50,50,0.6)));
	background:-webkit-linear-gradient(top,rgba(102,102,102,0.7),rgba(50,50,50,0.6));
	background:-moz-linear-gradient(top,rgba(102,102,102,0.7),rgba(50,50,50,0.6));
	background:-o-linear-gradient(top,rgba(102,102,102,0.7),rgba(50,50,50,0.6));
	background:-ms-linear-gradient(top,rgba(102,102,102,0.7),rgba(50,50,50,0.6));
	background:linear-gradient(rgba(102,102,102,0.7),rgba(50,50,50,0.6));
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr=#666666,endColorstr=#323232)";
	}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {
	font-size:12px;
	font-weight:bold;
	display:block;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin:0 0 3px 0;
	line-height:12px;
	}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {
	font-size:12px;
	line-height:12px;
	margin:3px 0 4px 0;
	display:block;
	white-space:nowrap;
	text-overflow:ellipsis;
	}

.mejs-captions-layer {
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	line-height:22px;
	font-size:12px;
	color:#fff;
	}

.mejs-captions-layer a {
	color:#fff;
	text-decoration:underline;
	}

.mejs-captions-layer[lang=ar] {
	font-size:20px;
	font-weight:normal;
	}

.mejs-captions-position {
	position:absolute;
	width:100%;
	bottom:15px;
	left:0;
	}

.mejs-captions-position-hover {
	bottom:45px;
	}

.mejs-captions-text {
	padding:3px 5px;
	background:url(../images/mediaplayer/background.png);
	background:rgba(20,20,20,0.8);
	}

.mejs-clear {
	clear:both;
	}

.me-cannotplay a {
	color:#fff;
	font-weight:bold;
	}

.me-cannotplay span {
	padding:15px;
	display:block;
	}

.mejs-controls .mejs-loop-off button {
	background-position:-64px -16px;
	}

.mejs-controls .mejs-loop-on button {
	background-position:-64px 0;
	}

.mejs-controls .mejs-backlight-off button {
	background-position:-80px -16px;
	}

.mejs-controls .mejs-backlight-on button {
	background-position:-80px 0;
	}

.mejs-controls .mejs-picturecontrols-button {
	background-position:-96px 0;
	}

.mejs-contextmenu {
	position:absolute;
	width:150px;
	padding:10px;
	border-radius:4px;
	top:0;
	left:0;
	background:#fff;
	border:solid 1px #999;
	z-index:1001;
	}

.mejs-contextmenu .mejs-contextmenu-separator {
	height:1px;
	font-size:0;
	margin:5px 6px;
	background:#333;
	}

.mejs-contextmenu .mejs-contextmenu-item {
	font-family:Helvetica,Arial;
	font-size:12px;
	padding:4px 6px;
	cursor:pointer;
	color:#333;
	}

.mejs-contextmenu .mejs-contextmenu-item:hover {
	background:#2C7C91;
	color:#fff;
	}
	
.no-js {
	width: 100%;
	min-width: 300px;
	background: #fc0;
	padding: 5px;
	text-align:center;
	position:fixed;
	top:0px;
	right:0px;
	border-bottom:1px solid black;
	z-index: 9999999999999;
}
.shadow{
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}