

/*----------------------------------------------------------------------------- 

STYLE CONFIGURATION FROM AVERIS THEME

Screen Stylesheet 

version:   	1.0 
date:      	20.04.2012 
author:		themepunch
email:     	support@themepunch.com 
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



/*********************************************
			TABLE OF CONTENT
			
			BASICS
			cONTENTS
			BACKGROUNDS
			TOP SOCIAL CONTAINER
			TOOLTIP
			HEADER AND NAVIGATION			
			QUOTES
			DIVIDER
			PAGINATION
			PORTFOLIO
			CONTENT LISTS
			WP-CORE			
			SIDEBARS
			BUTTONS
			INPUTBOX
			BLOG
			TEASER
			FOOTER
			TWIITER					
*********************************************/
							
							

/***********************
	-	BASICS 	-
***********************/
html 		{	width: 100%;	 margin: 0px;		overflow-x:hidden; padding: 0;}

.body		{	margin:0px;}
.body-dark	{	background-color:#fff; }
.container	{ 	z-index:10;}

ol, ul 		{   list-style: none; }

a			{	text-decoration:none; color:#999}

a:hover 	{	text-decoration: none;	cursor: pointer;	 }
a:focus 	{   outline: none; }

.clear		{	clear:both;}



p			{	color:#555;	text-shadow:0px 0px 1px #000;	font-size:12px;	font-family:Arial;	}
h3 			{ 	color:#555; text-shadow:0px 1px 1px #000;   font-family:'Oswald';	font-size: 20px; }
h5			{	color:#555;	text-shadow:0px 1px 1px #000;   font-family:'Oswald';	font-size: 16px;	 margin-bottom:10px;	}



   @media only screen and (min-width: 768px) and (max-width: 959px) {  }    
   @media only screen and (min-width: 480px) and (max-width: 767px) {  }   
   @media only screen and (min-width: 0px) and (max-width: 480px) {	}

	
.centerme	{	margin-left:auto;margin-right:auto;	}
.content { padding-top: 20px; }
.leftfloat {float:left;}
.rightfloat { float: right;}


/***************************
	-	CONTENTS	-
***************************/

 
	
	
/***************************************
	-	THE BACKGROUNDS -
****************************************/



/**************************************************
	-	TOP  - BOTTOM CONTAINER WITH SOCIALS -
****************************************************/


/****************************
	-	TOOLTIP	-
*****************************/	

/*******************************
	-	MENU / HEAD 	-	
********************************/


/********************************
	-	QUOTES	-
********************************/


/*******************************
	-	DIVIDER -	
********************************/



/********************************
	-	PAGINATION	-
*********************************/



/*******************************
	-	PORTFOLIO	-
********************************/


	
/*********************************
	-	COMMENT LISTS	-
**********************************/
.
	
/*******************************
	-	WP CORE STYLES  -	
********************************/

.alignnone 						{    margin: 5px 20px 20px 0;}

.aligncenter, div.aligncenter 	{    display:block;    margin: 5px auto 5px auto;}

.wp-caption 					{    background: #fff;    border: 1px solid #f0f0f0;    max-width: 96%; /* Image does not overflow the content area */    padding: 5px 3px 10px;    text-align: center;}

.wp-caption.alignnone 			{    margin: 5px 20px 20px 0;	}

.wp-caption.alignleft 			{    margin: 5px 20px 20px 0;	}

.wp-caption.alignright 			{    margin: 5px 0 20px 20px;	}

.wp-caption img 				{    border: 0 none;    height: auto;    margin:0;    max-width: 98.5%;    padding:0;    width: auto;}

.wp-caption p.wp-caption-text 	{    font-size:11px;    line-height:17px;    margin:0;    padding:0 4px 5px;	}

img.size-auto,
img.size-large,
img.size-full,
img.size-medium 				{	max-width: 100%;	height: auto;}

.alignleft,
img.alignleft 					{	display: inline;	float: left;	margin-right: 20px;	margin-top: 0px;}

.alignright,
img.alignright 					{	display: inline;	float: right;	margin-left: 20px;	margin-top: 0px;}

.aligncenter,
img.aligncenter 				{	clear: both;	display: block;	margin-left: auto;	margin-right: auto;}

img.alignleft,
img.alignright,
img.aligncenter 				{	margin-bottom: 20px;}

.bordered 						{	padding: 4px;	background:#111;	border: 1px solid #1e1e1e;}

.bypostauthor {}
.sticky{}
.gallery-caption{}



/*******************************
	-	SIDEBAR  -	
********************************/


/******************************
	-	BUTTONS	-
*******************************/



/******************************
	-	INPUTBOX	-
*******************************/

/*********************************
	-	BLOG	-
**********************************/

/*****************************************
	-	RESPONSIVE VIDEO CONTAINER	-
******************************************/

.eleven .video-container {		position: relative;		padding-bottom: 56.25%;		padding-top: 10px;	height: 0;	overflow: hidden;}
.sixteen .video-container {		position: relative;		padding-bottom: 56.25%;		padding-top: 10px;	height: 0;	overflow: hidden;}

.eleven .video-wrapper {	width: 630px;		max-width: 100%;	}
.sixteen .video-wrapper {	width: 930px;		max-width: 100%;	}

.video-container iframe,  
.video-container object,  
.video-container embed {	position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;}	

.sixteen .html5video { width:930px; height:523px}
.sixteen .html5audio { width:930px; height:auto;}

.eleven .html5video { width:630px; height:353px}
.eleven .html5audio { width:630px; height:auto;}


	@media only screen and (min-width: 768px) and (max-width: 959px) {
			.sixteen .html5video { width:735px; height:413px}
			.sixteen .html5audio { width:740px;}
			
			.eleven .html5video { width:495px; height:277px}
			.eleven .html5audio { width:495px;}
			
			
	  }
  
   @media only screen and (min-width: 480px) and (max-width: 767px) {
			.sixteen .html5video { width:410px; height:230px}
			.sixteen .html5audio { width:410px; }
			
			.eleven .html5video { width:410px; height:230px}
			.eleven .html5audio { width:410px; }
			
   }
   
   @media only screen and (min-width: 0px) and (max-width: 480px) {
			.sixteen .html5video { width:290px; height:163px}
			.sixteen .html5audio { width:290px; }
			
			.eleven .html5video { width:290px; height:163px}
			.eleven .html5audio { width:290px; }
			
	}


/*************************************/
/*		TEASER             			*/
/*************************************/



/********************************
	-	FOOTER	-
*********************************/



/*******************************
	-	TWITTER   -
********************************/








	
@media only screen and (min-width: 768px) and (max-width: 959px) {
		
  }
  
  @media only screen and (max-width: 767px) {
		
  }
  
   @media only screen and (min-width: 480px) and (max-width: 767px) {
		
   }
   
   @media only screen and (min-width: 0px) and (max-width: 480px) {
		
	}	