/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

#contact-wrap form#contact_form input[type="text"], #contact-wrap form#contact_form textarea{
		width:340px;
	}
	
.contact-wrap input[type="text"], .contact-wrap input[type="password"], .contact-wrap input[type="tel"], .contact-wrap input[type="number"], .contact-wrap input[type="email"], .contact-wrap select /*, .contact-wrap textarea */ {
		width:340px;
	}

.exam_question img.portrait	 { max-width:300px; margin: 0px auto; display: block; }
.exam_question img.landscape { max-width:600px; margin: 0px auto; display: block; }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		/* Contact Form Text Areas */
		#contact-wrap form#contact_form input[type="text"], #contact-wrap form#contact_form textarea{
			width:342px;
			clear:both;
			}
		
		.contact-wrap input[type="text"], .contact-wrap input[type="password"], .contact-wrap input[type="tel"], .contact-wrap input[type="number"], .contact-wrap input[type="email"], .contact-wrap textarea, .contact-wrap select {
			width:342px !important;
			clear:both;
			}
		
		.exam_question img.portrait	 { max-width:300px; }
		.exam_question img.landscape { max-width:535px; }
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		/* Contact Form Text Areas */
		#contact-wrap form#contact_form input[type="text"], #contact-wrap form#contact_form textarea{
			width: 278px;
			clear:both;
			}
		
		.contact-wrap input[type="text"], .contact-wrap input[type="password"], .contact-wrap input[type="tel"], .contact-wrap input[type="number"], .contact-wrap input[type="email"], .contact-wrap textarea, .contact-wrap select {
			width:278px !important;
			clear:both;
			}
		
		.exam_question {width: 280px;}
		.exam_question img.portrait	 { max-width:260px; }
		.exam_question img.landscape { max-width:260px; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

		/* Contact Form Text Areas */
		#contact-wrap form#contact_form input[type="text"], #contact-wrap form#contact_form textarea{
			width: 398px;
			clear:both;
			}
		
		.contact-wrap input[type="text"], .contact-wrap input[type="password"], .contact-wrap input[type="tel"], .contact-wrap input[type="number"], .contact-wrap input[type="email"], .contact-wrap textarea, .contact-wrap select {
			width:398px !important;
			clear:both;
			}
		
		.exam_question {width: 405px;}
		.exam_question img.portrait	 { max-width:300px; }
		.exam_question img.landscape { max-width:385px; }
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/